/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
  font-family: 'OPPO Sans';
  src: url('./font/OPPOSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OPPO Sans';
  src: url('./font/OPPOSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  /* 给Index/Today/CurrentEvent的时间用 */
  font-family: 'Rubik';
  src: url('./font/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  color-scheme: only light;

  ion-tab-button {
    --color: grey;
    --color-selected: #128f9d;
    /* 选中时颜色 */
  }
}
